body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#conteudo{
    padding-top: 60px;
    height: 100%;
}

.Username{
    font-size:x-large;
    color:white;
    text-align:right;
    margin-top:10px;

}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, .list-group-item:hover {
    background-color: #8c8c8c;
    color: white;
    border-color: #8c8c8c;
}